@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline: none;
	text-decoration: none;
	list-style: none;
}
img{
	object-fit: cover;
}
body{
	background: #f5f5f5;
	padding-top: 46px;
}
.header{
	padding: 6px 0;
	background: #ce0692;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 99;
}
.header-block{
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-input{
	font-size: 14px;
	line-height: 22px;
	padding: 5px 30px 5px 12px;
	width: 336px;
	border-radius: 4px;
	border: 1px solid #eee;
	background: url(./img/search.svg) no-repeat #fff right 12px center;
}
.user{
	display: flex;
	align-items: center;
}
.user-avatar{
	margin-right: 6px;
	width: 32px;
	object-fit: cover;
}
.user-name{
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
}
.navigation{
	display: flex;
	align-items: center;
}
.navigation-panel{
	margin-left: 12px;
}
.navigation-link{
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	margin-left: 12px;
}
.navigation-link::before{
	display: inline-block;
	content: "";
	width: 1px;
	height: 20px;
	background: #9e0771;
	margin-right: 12px;
	vertical-align: -5px;
}
.navigation-link:last-child::after{
	display: inline-block;
	content: "";
	width: 1px;
	height: 20px;
	background: #9e0771;
	margin-left: 12px;
	vertical-align: -5px;
}
.header-icon{
	filter: invert(1);
	transition: 0.5s;
}
.header-icon:hover{
	filter: invert(0);
}
.icons-link{
	margin-left: 17px;
}
.icons-link:last-child::before{
	display: inline-block;
	content: "";
	width: 1px;
	height: 20px;
	background: #9e0771;
	margin-right: 12px;
	vertical-align: -1px;
}
.icons-panel{
	display: flex;
	align-items: center;
}

.container{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.menu-sidebar{
	max-width: 192px;
	margin-top: 18px;
	margin-right: 12px;
}

.menu-sidebar .user{
	padding-left: 10px;
}
.menu-sidebar .user-avatar{
	width: 24px;
	margin-left: 10px;
}
.menu-sidebar .user-name{
	color: #262626;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
}
.nav-group{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 12px;
	margin-bottom: 24px;
}
.nav-link{
	padding: 4px 8px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	color: #595959;
}
.nav-link.active{
	background: #fff;
	color: #262626;
}
.nav-text{
	margin-left: 8px;
}
.nav-title{
	margin-bottom: 10px;
	margin-left: 8px;
	color: #262626;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	padding-left: 10px;
}

.main-feed{
	margin-top: 18px;
	max-width: 580px;
	flex-grow: 1;
}
.create-post{
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
}
.create-post-header{
	background: #f5f5f5;
	padding: 9px 16px;
}
.create-post-title{
	margin: 0;
	color: #595959;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
}
.create-post-body{
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 24px;
	display: flex;
	align-items: flex-start;
}
.create-post-input{
	padding-top: 8px;
	padding-right: 25px;
	width: 100%;
}
.create-post-footer{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0px 16px 16px 16px;
}
.create-post-footer::before{
	content: "";
	height: 1px;
	width: 100%;
	margin-bottom: 16px;
	border-top: 1px solid #e8e8e8;
}
.tag{
	border-radius: 48px;
	background: #f5f5f5;
	border: none;
	padding: 9px 12px;
	display: flex;
	align-items: center;
	margin-right: 8px;
}
.tag-icon{
	margin-right: 8px;
}
.post-button-icon,
.post-footer-image{
	width: 24px;
}
.post{
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
	border-radius: 4px;
	margin: 16px 0;
	padding: 16px;
}
.post-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}
.post-header-button{
	background: #ffffff;
	border: none;
}
.post-header .user-avatar{
	width: 48px;
}
.post-info{
	display: flex;
	flex-wrap: wrap;
	margin-left: 12px;
}
.post-header .post-author{
	line-height: 22px;
	font-size: 14px;
	font-weight: 600;
	color: #CD0691;
	width: 100%;
}
.post-time{
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #8c8c8c;
}
.post-time::after{
	display: inline-block;
	content: "";
	height: 4px;
	width: 4px;
	background: #bfbfbf;
	border-radius: 50%;
	margin-right: 6px;
	margin-left: 6px;
	vertical-align: middle;
}
.post-info-time{
	display: flex;
	align-items: center;
}
.post-text{
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #595959;
	margin-bottom: 16px;
}
.post-text a{
	color: #CD0691;
}
.post-image{
	max-width: 100%;
}
.likes{
	margin-top: 9px;
	margin-bottom: 9px;
	display: flex;
	align-items: center;
}
.likes-text{
	color: #595959;
	line-height: 22px;
	font-size: 14px;
	font-weight: normal;
	margin-left: 6px;
}
.post-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.post-button{
	background: #fff;
	border: none;
	cursor: pointer;
}
.post-button-text{
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: #595959;
}

.post-footer::before{
	content: "";
	height: 1px;
	width: 100%;
	margin-bottom: 16px;
	border-top: 1px solid #e8e8e8;
}

.right-sdebar{
	width: 384px;
}
.stories{
	background: #fff;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
	border-radius: 4px;
	margin-top: 16px;
	padding: 16px;
	padding-left: 24px;
	margin-left: 24px;
}
.stories-icon{
	width: 16px;
}
.story-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}
.story-title{
	margin: 0;
	font-weight: 600;
	font-size: 14px;
	line-height: 22px;
}
.story-button{
	align-items: center;
	display: flex;
}
.story-button-link{
	color: #CD0691;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	display: inline-flex;
	align-items: center;
}
.story-icon{
	vertical-align: sub;
}
.story-button-link:first-child::after{
	display: inline-block;
	content: "";
	height: 4px;
	width: 4px;
	background: #bfbfbf;
	border-radius: 50%;
	margin-right: 8px;
	margin-left: 8px;
	vertical-align: middle;
}
.story-items,
.story-items-add{
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.story-image{
	width: 48px;
	margin-right: 12px;
}
.story-title{
	color: #CD0691;
	display: block;
	line-height: 22px;
	font-size: 14px;
	font-weight: 600;
	width: 100%;
}
.story-text{
	color: #8c8c8c;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	width: 100%;
	word-wrap: break-word;
}
.birthday{
	background: #fff;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
	border-radius: 4px;
	margin-top: 16px;
	padding: 16px;
	padding-left: 24px;
	margin-left: 24px;
	display: flex;
	align-items: center;
	justify-content: start;
}
.birthday-image{
	margin-right: 12px;
}
.birthday-name{
	color: #CD0691;
}
.birthday-title{
	color: #595959;
}
.m-menu{
	border: none;
	width: 24px;
	height: 24px;
	background: transparent;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 12px;
}
.m-menu .line{
	width: 100%;
	height: 1px;
	background: #fff;
}

@media (max-width: 1250px){
	.header-block{
		width: 95%;
	}
	.container{
		justify-content: flex-start;
		width: 95%;
	}
	.stories,
	.birthday{
		display: none;
	}
}
@media (max-width: 960px){
	.header .user{
		display: none;
	}
	.navigation-panel{
		display: none;
	}
}
@media (max-width: 840px){
	.menu-sidebar{
		position: fixed;
		left: -100%;
		top: 0;
		width: 100%;
		max-width: 250px;
		background: #fff;
		padding-top: 40px;
		height: 100%;
		padding-left: 2%;
		transition: 0.8s;
	}
	.menu-sidebar.active{
		left: 0;
	}
	.m-menu{
		display: flex;
		cursor: pointer;
	}
}
@media (max-width: 760px){
	.search{
		display: none;
	}
}